#mainheading {
    color: red;
}

body {
    background-color: #f9f4c8; /* Pale pink*/
    margin: 8px;
    display: block;
}

p {
    color: #f9c8cd; ;
    font-weight: bold; font-style:oblique ;
}


h2 {
    color: #c8cdf9;
}
.funparagraph{
    color: #c8f9f4;
}